Creating dictionaries from list.

In [1]:
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

europe={'spain':'madrid','france':'paris','germany':'berlin','norway':'oslo'}
print(europe)
print(type(europe))

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}
<class 'dict'>

Finding keys & values with .keys() & .values() from dictionary.

In [2]:
print(europe.keys())
print(europe.values())

dict_keys(['spain', 'france', 'germany', 'norway'])
dict_values(['madrid', 'paris', 'berlin', 'oslo'])

Finding a value using key from dictionary.

In [4]:
print('spain capital: '+europe['spain'])
print('france capital: '+europe['france'])

spain capital: madrid
france capital: paris

Adding new key & value in dictionary.

In [6]:
europe['italy']='roMa'
europe['poland']='warsaw'
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'roMa', 'poland': 'warsaw'}

Replacing key & value with existing key & value.

In [8]:
europe['italy']='rome'
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

Removing key from Dictionary.

In [9]:
del(europe['spain'])
print(europe)

{'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

Dictionary of Dictionaries [like list of list]

In [19]:
Asia={'Bangladesh':{'Capital':'Dhaka','Currency':'Taka'},
      'India':{'Capital':'Delhi','Currency':'Rupi'},
      'Pakistan':{'Capital':'Islamabad','Currency':'Rupi'},
      'China':{'Capital':'Beijing','Currency':'Renminbi'},
      'Japan':{'Capital':'Tokio','Currency':'Yen'}}
print(Asia)

{'Bangladesh': {'Capital': 'Dhaka', 'Currency': 'Taka'}, 'India': {'Capital': 'Delhi', 'Currency': 'Rupi'}, 'Pakistan': {'Capital': 'Islamabad', 'Currency': 'Rupi'}, 'China': {'Capital': 'Beijing', 'Currency': 'Renminbi'}, 'Japan': {'Capital': 'Tokio', 'Currency': 'Yen'}}

Subsetting.
Print out the currency of Japan

In [11]:
print(Asia['Japan']['Currency'])

Yen

Print out the Capital of Bangladesh

In [12]:
print(Asia['Bangladesh']['Capital'])

Dhaka

Addition in dict of dict

In [13]:
Asia['Bahrain']={'Capital':'Manama','Currency':'Dinar'}
print(Asia)

{'Bangladesh': {'Capital': 'Dhaka', 'Currency': 'Taka'}, 'India': {'Capital': 'Delhi', 'Currency': 'Rupi'}, 'Pakistan': {'Capital': 'Islamabad', 'Currency': 'Rupi'}, 'China': {'Capital': 'Beijing', 'Currency': 'Renminbi'}, 'Japan': {'Capital': 'Tokio', 'Currency': 'Yen'}, 'Bahrain': {'Capital': 'Manama', 'Currency': 'Dinar'}}

Creating DataFrame from Dictionary

In [14]:
import pandas as pd
AsiaMap=pd.DataFrame(Asia)
print(AsiaMap)

         Bangladesh  India   Pakistan     China  Japan Bahrain
Capital       Dhaka  Delhi  Islamabad   Beijing  Tokio  Manama
Currency       Taka   Rupi       Rupi  Renminbi    Yen   Dinar

In [16]:
Country=['Bangladesh','India','Pakistan','China','Japan','Bahrain']
Capital=['Dhaka','Delhi','Islamabad','Beijing','Tokio','Manama']
Currency=['Taka','Indian Rupee','Pakistani Rupee','Renminbi','Yen','Dinar']

asia={'Country':Country,'Capital':Capital,'Currency':Currency}
InfoAsia=pd.DataFrame(asia)
print(InfoAsia)

      Country    Capital         Currency
0  Bangladesh      Dhaka             Taka
1       India      Delhi     Indian Rupee
2    Pakistan  Islamabad  Pakistani Rupee
3       China    Beijing         Renminbi
4       Japan      Tokio              Yen
5     Bahrain     Manama            Dinar

Adding Index label in DataFrame

In [18]:
label=['BN','IN','PK','CN','JP','BR']
InfoAsia.index=label
print(InfoAsia)

       Country    Capital         Currency
BN  Bangladesh      Dhaka             Taka
IN       India      Delhi     Indian Rupee
PK    Pakistan  Islamabad  Pakistani Rupee
CN       China    Beijing         Renminbi
JP       Japan      Tokio              Yen
BR     Bahrain     Manama            Dinar

CSV to DataFrame

In [32]:
driving=pd.read_csv('/Cars.csv')
print(driving)

      Country       Capital  Car_per_cap  Driving_left
0     America  Wasington DC           80          True
1       China       Beijing           76          True
2  Bangladesh         Dhaka           14         False
3     England        London           73         False
4       India         Delhi           23         False
5    Pakistan     Islamabad           18         False
6       Japan         Tokio           56          True
7      Canana       Torento           82          True
8      Russia        Moscow           68          True
9      Franch         Paris           71          True

In [33]:
x=['AM','CH','BN','EN','IN','PK','JP','CN','RS','FN']
driving.index=x
print(driving)

       Country       Capital  Car_per_cap  Driving_left
AM     America  Wasington DC           80          True
CH       China       Beijing           76          True
BN  Bangladesh         Dhaka           14         False
EN     England        London           73         False
IN       India         Delhi           23         False
PK    Pakistan     Islamabad           18         False
JP       Japan         Tokio           56          True
CN      Canana       Torento           82          True
RS      Russia        Moscow           68          True
FN      Franch         Paris           71          True

Pandas series & DataFrame

In [35]:
print(driving['Country'])
print(type(driving['Country']))

AM       America
CH         China
BN    Bangladesh
EN       England
IN         India
PK      Pakistan
JP         Japan
CN        Canana
RS        Russia
FN        Franch
Name: Country, dtype: object
<class 'pandas.core.series.Series'>

In [36]:
print(driving[['Country']])
print(type(driving[['Country']]))

       Country
AM     America
CH       China
BN  Bangladesh
EN     England
IN       India
PK    Pakistan
JP       Japan
CN      Canana
RS      Russia
FN      Franch
<class 'pandas.core.frame.DataFrame'>

print out capital & driving left column (Subsetting)

---

In [37]:
print(driving[['Capital','Driving_left']])

         Capital  Driving_left
AM  Wasington DC          True
CH       Beijing          True
BN         Dhaka         False
EN        London         False
IN         Delhi         False
PK     Islamabad         False
JP         Tokio          True
CN       Torento          True
RS        Moscow          True
FN         Paris          True

Slicing

print out first 3 observations

In [38]:
print(driving[:3])

       Country       Capital  Car_per_cap  Driving_left
AM     America  Wasington DC           80          True
CH       China       Beijing           76          True
BN  Bangladesh         Dhaka           14         False

print out 4 to 7th observations

In [39]:
print(driving[3:7])

     Country    Capital  Car_per_cap  Driving_left
EN   England     London           73         False
IN     India      Delhi           23         False
PK  Pakistan  Islamabad           18         False
JP     Japan      Tokio           56          True

loc(), iloc()

print info about England & Bangladesh

In [41]:
print(driving.loc[['EN','BN']])

       Country Capital  Car_per_cap  Driving_left
EN     England  London           73         False
BN  Bangladesh   Dhaka           14         False

In [42]:
print(driving.iloc[[2,3]])

       Country Capital  Car_per_cap  Driving_left
BN  Bangladesh   Dhaka           14         False
EN     England  London           73         False

print out capital & Driving_left of Bangladesh & Russia

In [43]:
print(driving.loc[['BN','RS'],['Capital','Driving_left']])

   Capital  Driving_left
BN   Dhaka         False
RS  Moscow          True

In [44]:
print(driving.iloc[[2,8],[1,3]])

   Capital  Driving_left
BN   Dhaka         False
RS  Moscow          True

print out car_per_cap & Country name

In [45]:
print(driving.iloc[:,[0,2]])

       Country  Car_per_cap
AM     America           80
CH       China           76
BN  Bangladesh           14
EN     England           73
IN       India           23
PK    Pakistan           18
JP       Japan           56
CN      Canana           82
RS      Russia           68
FN      Franch           71

print out China to Russia's capital, car per cap and driving left info

In [48]:
print(driving.iloc[[1,2,3,4,5,6,7,8],[1,2,3]])

      Capital  Car_per_cap  Driving_left
CH    Beijing           76          True
BN      Dhaka           14         False
EN     London           73         False
IN      Delhi           23         False
PK  Islamabad           18         False
JP      Tokio           56          True
CN    Torento           82          True
RS     Moscow           68          True