Creating dictionaries from list.

In [67]:
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

europe={'spain':'madrid','france':'paris','germany':'berlin','norway':'oslo'}
print(europe)
print(type(europe))

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}
<class 'dict'>

Finding keys & values with .keys() & .values() from dictionary.

In [68]:
print(europe.keys())
print(europe.values())

dict_keys(['spain', 'france', 'germany', 'norway'])
dict_values(['madrid', 'paris', 'berlin', 'oslo'])

Finding a value using key from dictionary.

In [69]:
print('spain capital: '+europe['spain'])
print('france capital: '+europe['france'])

spain capital: madrid
france capital: paris

Adding new key & value in dictionary.

In [70]:
europe['italy']='roMa'
europe['poland']='warsaw'
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'roMa', 'poland': 'warsaw'}

Replacing key & value with existing key & value.

In [71]:
europe['italy']='rome'
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

Removing key from Dictionary.

In [72]:
del(europe['spain'])
print(europe)

{'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

Nested Dictionary

In [73]:
Asia={'Bangladesh':{'Capital':'Dhaka','Currency':'Taka'},
      'India':{'Capital':'Delhi','Currency':'Rupi'},
      'Pakistan':{'Capital':'Islamabad','Currency':'Rupi'},
      'China':{'Capital':'Beijing','Currency':'Renminbi'},
      'Japan':{'Capital':'Tokio','Currency':'Yen'}}
print(Asia)

{'Bangladesh': {'Capital': 'Dhaka', 'Currency': 'Taka'}, 'India': {'Capital': 'Delhi', 'Currency': 'Rupi'}, 'Pakistan': {'Capital': 'Islamabad', 'Currency': 'Rupi'}, 'China': {'Capital': 'Beijing', 'Currency': 'Renminbi'}, 'Japan': {'Capital': 'Tokio', 'Currency': 'Yen'}}

Subsetting.

Print out the currency of Japan

In [74]:
print(Asia['Japan']['Currency'])

Yen

Print out the Capital of Bangladesh

In [75]:
print(Asia['Bangladesh']['Capital'])

Dhaka

Addition in Nested dict

In [76]:
Asia['Bahrain']={'Capital':'Manama','Currency':'Dinar'}
print(Asia)

{'Bangladesh': {'Capital': 'Dhaka', 'Currency': 'Taka'}, 'India': {'Capital': 'Delhi', 'Currency': 'Rupi'}, 'Pakistan': {'Capital': 'Islamabad', 'Currency': 'Rupi'}, 'China': {'Capital': 'Beijing', 'Currency': 'Renminbi'}, 'Japan': {'Capital': 'Tokio', 'Currency': 'Yen'}, 'Bahrain': {'Capital': 'Manama', 'Currency': 'Dinar'}}

Creating DataFrame from Dictionary

In [77]:
import pandas as pd
AsiaMap=pd.DataFrame(Asia)
print(AsiaMap)

         Bangladesh  India   Pakistan     China  Japan Bahrain
Capital       Dhaka  Delhi  Islamabad   Beijing  Tokio  Manama
Currency       Taka   Rupi       Rupi  Renminbi    Yen   Dinar

In [78]:
Country=['Bangladesh','India','Pakistan','China','Japan','Bahrain']
Capital=['Dhaka','Delhi','Islamabad','Beijing','Tokio','Manama']
Currency=['Taka','Indian Rupee','Pakistani Rupee','Renminbi','Yen','Dinar']

asia={'Country':Country,'Capital':Capital,'Currency':Currency}
InfoAsia=pd.DataFrame(asia)
print(InfoAsia)

      Country    Capital         Currency
0  Bangladesh      Dhaka             Taka
1       India      Delhi     Indian Rupee
2    Pakistan  Islamabad  Pakistani Rupee
3       China    Beijing         Renminbi
4       Japan      Tokio              Yen
5     Bahrain     Manama            Dinar

Adding Index label in DataFrame

In [79]:
label=['BN','IN','PK','CN','JP','BR']
InfoAsia.index=label
print(InfoAsia)

       Country    Capital         Currency
BN  Bangladesh      Dhaka             Taka
IN       India      Delhi     Indian Rupee
PK    Pakistan  Islamabad  Pakistani Rupee
CN       China    Beijing         Renminbi
JP       Japan      Tokio              Yen
BR     Bahrain     Manama            Dinar

CSV to DataFrame

In [80]:
driving=pd.read_csv('/Cars.csv')
print(driving)

      Country       Capital  Car_per_cap  Driving_left
0     America  Wasington DC           80          True
1       China       Beijing           76          True
2  Bangladesh         Dhaka           14         False
3     England        London           73         False
4       India         Delhi           23         False
5    Pakistan     Islamabad           18         False
6       Japan         Tokio           56          True
7      Canana       Torento           82          True
8      Russia        Moscow           68          True
9      Franch         Paris           71          True

In [81]:
#x=['AM','CH','BN','EN','IN','PK','JP','CN','RS','FN']
#driving.index=x
#print(driving)

Pandas series & DataFrame

In [82]:
print(driving['Country'])
print(type(driving['Country']))

0       America
1         China
2    Bangladesh
3       England
4         India
5      Pakistan
6         Japan
7        Canana
8        Russia
9        Franch
Name: Country, dtype: object
<class 'pandas.core.series.Series'>

In [83]:
print(driving[['Country']])
print(type(driving[['Country']]))

      Country
0     America
1       China
2  Bangladesh
3     England
4       India
5    Pakistan
6       Japan
7      Canana
8      Russia
9      Franch
<class 'pandas.core.frame.DataFrame'>

print out capital & driving left column (Subsetting)

---

In [84]:
print(driving[['Capital','Driving_left']])

        Capital  Driving_left
0  Wasington DC          True
1       Beijing          True
2         Dhaka         False
3        London         False
4         Delhi         False
5     Islamabad         False
6         Tokio          True
7       Torento          True
8        Moscow          True
9         Paris          True

Slicing

print out first 3 observations

In [85]:
print(driving[:3])

      Country       Capital  Car_per_cap  Driving_left
0     America  Wasington DC           80          True
1       China       Beijing           76          True
2  Bangladesh         Dhaka           14         False

print out 4 to 7th observations

In [86]:
print(driving[3:7])

    Country    Capital  Car_per_cap  Driving_left
3   England     London           73         False
4     India      Delhi           23         False
5  Pakistan  Islamabad           18         False
6     Japan      Tokio           56          True

loc(), iloc()

print info about England & Bangladesh

In [87]:
#print(driving.loc[['EN','BN']])

In [88]:
print(driving.iloc[[2,3]])

      Country Capital  Car_per_cap  Driving_left
2  Bangladesh   Dhaka           14         False
3     England  London           73         False

print out capital & Driving_left of Bangladesh & Russia

In [89]:
#print(driving.loc[['BN','RS'],['Capital','Driving_left']])

In [90]:
print(driving.iloc[[2,8],[1,3]])

  Capital  Driving_left
2   Dhaka         False
8  Moscow          True

print out car_per_cap & Country name of all country

In [91]:
print(driving.iloc[:,[0,2]])

      Country  Car_per_cap
0     America           80
1       China           76
2  Bangladesh           14
3     England           73
4       India           23
5    Pakistan           18
6       Japan           56
7      Canana           82
8      Russia           68
9      Franch           71

print out China to Russia's capital, car per cap and driving left info

In [92]:
print(driving.iloc[[1,2,3,6,7,5],[1,3]])

     Capital  Driving_left
1    Beijing          True
2      Dhaka         False
3     London         False
6      Tokio          True
7    Torento          True
5  Islamabad         False

Filter observations from a DataFrame based on series.

Now,

we want to filter only true or false value from Driving_left column.

'Drives_left' is a boolean column, so we have to extract it as a Series first and then use this boolean Series to select observations from 'driving'

In [99]:
series=driving.iloc[:,3]
print(series)
print(type(series))

0     True
1     True
2    False
3    False
4    False
5    False
6     True
7     True
8     True
9     True
Name: Driving_left, dtype: bool
<class 'pandas.core.series.Series'>

In [102]:
print(driving[series])   #here we filter only true value of Driving_left by default

   Country       Capital  Car_per_cap  Driving_left
0  America  Wasington DC           80          True
1    China       Beijing           76          True
6    Japan         Tokio           56          True
7   Canana       Torento           82          True
8   Russia        Moscow           68          True
9   Franch         Paris           71          True

In [104]:
print(driving[series==False])    #here we filter only false value of Driving_left

      Country    Capital  Car_per_cap  Driving_left
2  Bangladesh      Dhaka           14         False
3     England     London           73         False
4       India      Delhi           23         False
5    Pakistan  Islamabad           18         False

Now,

we want to filter car_per_cap column, where cer_per_cap is greater or equal to 80.

so, we have to make 'car_per_cap' as a series. Then use this series to achive tergeted observation from 'driving' DataFrame.

In [105]:
s_cpc=driving.iloc[:,2]
print(s_cpc)

0    80
1    76
2    14
3    73
4    23
5    18
6    56
7    82
8    68
9    71
Name: Car_per_cap, dtype: int64

In [113]:
print(driving[s_cpc>=80])

   Country       Capital  Car_per_cap  Driving_left
0  America  Wasington DC           80          True
7   Canana       Torento           82          True

In [116]:
print(driving[s_cpc<=70])

      Country    Capital  Car_per_cap  Driving_left
2  Bangladesh      Dhaka           14         False
4       India      Delhi           23         False
5    Pakistan  Islamabad           18         False
6       Japan      Tokio           56          True
8      Russia     Moscow           68          True

Now, what if we want to filter car_per_cap, which is greater or equal than 70 & less or equal than 80?

Here comes the NumPy logical and & logical or & logical not.

np.logical_and()

np.logical_or()

np.logical_not()

Ques: Observations with cars_per_cap between 70 and 80

In [125]:
import numpy as np
and_s_cpc = np.logical_and(s_cpc>=70,s_cpc<=80)
print(driving[and_s_cpc])

   Country       Capital  Car_per_cap  Driving_left
0  America  Wasington DC           80          True
1    China       Beijing           76          True
3  England        London           73         False
9   Franch         Paris           71          True

Ques: Observations with cars_per_cap less than 50 or 
greater than 80

In [128]:
or_s_cpc = np.logical_or(s_cpc<50,s_cpc>80)
print(driving[or_s_cpc])

      Country    Capital  Car_per_cap  Driving_left
2  Bangladesh      Dhaka           14         False
4       India      Delhi           23         False
5    Pakistan  Islamabad           18         False
7      Canana    Torento           82          True