Loop over list

---

In [ ]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

In [ ]:
for x in areas:
  print(x)

11.25
18.0
20.0
10.75
9.5

In [ ]:
for x in areas:
  print(x+1)

12.25
19.0
21.0
11.75
10.5

Using a for loop to iterate over a list only gives you access to every list element in each run, one after the other. If you also want to access the index information, so where the list element you're iterating over is located, you can use enumerate().

In [ ]:
for i,x in enumerate(areas):
  print('index '+str(i+1)+', area='+str(x))

index 1, area=11.25
index 2, area=18.0
index 3, area=20.0
index 4, area=10.75
index 5, area=9.5

Loop over Nested list

---

In [ ]:
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]

In [ ]:
for x,y in house:
  print('This '+x+' size is '+str(y)+' sqm.')

This hallway size is 11.25 sqm.
This kitchen size is 18.0 sqm.
This living room size is 20.0 sqm.
This bedroom size is 10.75 sqm.
This bathroom size is 9.5 sqm.

Loop over dictionary


---

you need the .items() method to loop over a dictionary.

In [ ]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }

In [ ]:
for k,v in europe.items():
  print(v+' is the capital of '+k+'.')

madrid is the capital of spain.
paris is the capital of france.
berlin is the capital of germany.
oslo is the capital of norway.
rome is the capital of italy.
warsaw is the capital of poland.
vienna is the capital of austria.

Loop over NumPy arrey

---

If you're dealing with a 1D NumPy array, looping over all elements can be as simple as:

    for x in my_array :

      ...

If you're dealing with a 2D NumPy array, it's more complicated. A 2D array is built up of multiple 1D arrays. To explicitly iterate over all separate elements of a multi-dimensional array, you'll need this syntax:

    for x in np.nditer(my_array) :
   
      ...

In [18]:
a=[10,87,34,65,21]    
b=[[181, 88.4, 35],[184, 91.7, 31],[183, 90.5, 29],[188, 85.2, 30],[189, 87.3, 33]]   

import numpy as np
np_a=np.array(a)    #1D arrey
np_b=np.array(b)    #2D arrey

In [21]:
for x in np_a:
  print('Total point is '+str(x)+'.')

Total point is 10.
Total point is 87.
Total point is 34.
Total point is 65.
Total point is 21.

In [29]:
for f in np.nditer(np_b):
  print(f)

181.0
88.4
35.0
184.0
91.7
31.0
183.0
90.5
29.0
188.0
85.2
30.0
189.0
87.3
33.0

Loop over DataFrame

---

Iterating over a Pandas DataFrame is typically done with the iterrows() method. Used in a for loop, every observation is iterated over and on every iteration the row and column contents are available:

    for row, column in df.iterrows():
  
      ...

In [30]:
import pandas as pd
df=pd.read_csv('/content/Cars.csv')
print(df)

      Country       Capital  Car_per_cap  Driving_left
0     America  Wasington DC           80          True
1       China       Beijing           76          True
2  Bangladesh         Dhaka           14         False
3     England        London           73         False
4       India         Delhi           23         False
5    Pakistan     Islamabad           18         False
6       Japan         Tokio           56          True
7      Canana       Torento           82          True
8      Russia        Moscow           68          True
9      Franch         Paris           71          True

In [38]:
for r,c in df.iterrows():
  print('Index '+str(r)+': '+c['Country'])

Index 0: America
Index 1: China
Index 2: Bangladesh
Index 3: England
Index 4: India
Index 5: Pakistan
Index 6: Japan
Index 7: Canana
Index 8: Russia
Index 9: Franch

Customize a Column and store it into a new Column with for loop.



---


Using iterrows() to iterate over every observation of a Pandas DataFrame is easy to understand, but not very efficient. On every iteration, you're creating a new Pandas Series.

If you want to add a column to a DataFrame by calling a function on another column, the iterrows() method in combination with a for loop is not the preferred way to go. Instead, you'll want to use apply().

    for row, column in df.iterrows():

      df["new_column"] = df["selected_column"].apply(len)

we can use .upper, .lower etc inside .apply()

In [42]:
for r,c in df.iterrows():
  df['COUNTRY']=df['Country'].apply(str.upper)
print(df)

      Country       Capital  Car_per_cap  Driving_left     COUNTRY
0     America  Wasington DC           80          True     AMERICA
1       China       Beijing           76          True       CHINA
2  Bangladesh         Dhaka           14         False  BANGLADESH
3     England        London           73         False     ENGLAND
4       India         Delhi           23         False       INDIA
5    Pakistan     Islamabad           18         False    PAKISTAN
6       Japan         Tokio           56          True       JAPAN
7      Canana       Torento           82          True      CANANA
8      Russia        Moscow           68          True      RUSSIA
9      Franch         Paris           71          True      FRANCH