# **Define Function**

We can easily value count from a data frame using function.

In [42]:
import pandas as pd
cars=pd.read_csv('/content/drive/MyDrive/DataCamp/Data/Cars.csv')
cars

      Country       Capital  Car_per_cap  Driving_left             Record date
0     America  Wasington DC           80          True  11:05:12, 12 Aug, 2020
1       China       Beijing           76          True  23:34:11, 30 Mar, 2021
2  Bangladesh         Dhaka           14         False  02:56:45, 02 Jan, 2020
3     England        London           73         False  00:01:00, 23 Jun, 2021
4       India         Delhi           23         False  10:33:15, 03 Dec, 2020
5    Pakistan     Islamabad           18         False  21:21:17, 15 Nov, 2020
6       Japan         Tokio           56          True  09:55:25, 06 Nov, 2020
7      Canada       Torento           82          True  12:19:27, 11 Feb, 2021
8      Russia        Moscow           68          True  23:42:33, 23 Aug, 2021
9      Franch         Paris           71          True  05:32:07, 18 May, 2021

How many True and False are in this DataFrame?

In [43]:
def count(df,*args):  #*args for unlimited column input.
  dic={}
  try:
    for col in args:
      c=df[col]
      for x in c:
        if x in dic.keys():
          dic[x]+=1
        else:
          dic[x]=1
    return dic
  except:
    raise ValueError('The DataFrame does not have a '+col+' column.')
    #or
    print('The DataFrame does not have a '+col+' column.')

In [44]:
#calling function
left_count=count(cars,'Driving_left')
left_count

{True: 6, False: 4}

# **List Comprehensions**

Find the first letter from the list.

In [45]:
doctor = ['house', 'cuddy', 'chase', 'thirteen', 'wilson']

In [46]:
hcctw=[i[0] for i in doctor]
hcctw

['h', 'c', 'c', 't', 'w']

Add 1 & square every element of the list.

In [47]:
nums = [12, 8, 21, 3, 16]

In [48]:
new_nums=[i+1 for i in nums]
new_nums

[13, 9, 22, 4, 17]

In [49]:
square=[i**2 for i in new_nums]
square

[169, 81, 484, 16, 289]

# **Nested list comprehensions**

Create a 5 x 5 matrix using a list of lists

In [50]:
m=[[col for col in range(0,5)] for row in range(0,5)]
m

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [58]:
for row in m:
  print(row)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

# **Using conditionals in comprehensions**

In [51]:
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

only want strings with 7 characters or more.

In [52]:
seven_fellow=[i for i in fellowship if len(i)>=7]
seven_fellow

['samwise', 'aragorn', 'legolas', 'boromir']

create a list that keeps members of fellowship with 7 or more characters and replaces others with an empty string.

In [53]:
seven=[i if len(i)>=7 else ' ' for i in fellowship]
seven

[' ', 'samwise', ' ', 'aragorn', 'legolas', 'boromir', ' ']

# **Dict comprehensions**

the main difference between a list comprehension and a dict comprehension is the use of curly braces {} instead of [ ]. Additionally, members of the dictionary are created using a colon :, as in key : value.

You are given a list of strings fellowship and, using a dict comprehension, create a dictionary with the members of the list as the keys and the length of each string as the corresponding values.

In [54]:
dic_fellow={i:len(i) for i in fellowship}
dic_fellow

{'frodo': 5,
 'samwise': 7,
 'merry': 5,
 'aragorn': 7,
 'legolas': 7,
 'boromir': 7,
 'gimli': 5}

# **List comprehensions for time-stamped data**

In [55]:
date=cars['Record date']
date

0    11:05:12, 12 Aug, 2020
1    23:34:11, 30 Mar, 2021
2    02:56:45, 02 Jan, 2020
3    00:01:00, 23 Jun, 2021
4    10:33:15, 03 Dec, 2020
5    21:21:17, 15 Nov, 2020
6    09:55:25, 06 Nov, 2020
7    12:19:27, 11 Feb, 2021
8    23:42:33, 23 Aug, 2021
9    05:32:07, 18 May, 2021
Name: Record date, dtype: object

Create a list comprehension that extracts the time from each row in cars. Each row is a string that represents a timestamp, and you will access the 1st to 8th characters in the string to extract the time. Remember that Python uses 0-based indexing!

In [56]:
time=[i[0:8] for i in date]
time

['11:05:12',
 '23:34:11',
 '02:56:45',
 '00:01:00',
 '10:33:15',
 '21:21:17',
 '09:55:25',
 '12:19:27',
 '23:42:33',
 '05:32:07']

Find the time for only 2021.

In [57]:
time_21=[i[0:8] for i in date if i[18:22]=='2021']
time_21

['23:34:11', '00:01:00', '12:19:27', '23:42:33', '05:32:07']

So, we can find the exact character from a column's row by using list comprehension.