List method

In [70]:
cars=20
houses=30
lands=10

a=['total cars',cars,'total houses',houses,'total lands',lands]
b=[cars,houses,lands]
print(a)
print(b)

['total cars', 20, 'total houses', 30, 'total lands', 10]
[20, 30, 10]

In [71]:
print(type(a))

<class 'list'>

Subseting & Indexing

In [72]:
print(a[1])

20

In [73]:
print(a[0])

total cars

In [74]:
total_cars_and_lands=a[1]+a[5]
print(total_cars_and_lands)

30

In [75]:
print(a.index('total houses'))

2

In [76]:
print(a.index(10))

5

Slicing

In [77]:
cars_to_houses=a[:4]
print(cars_to_houses)

['total cars', 20, 'total houses', 30]

In [78]:
houses_to_lands=a[-4:]
print(houses_to_lands)

['total houses', 30, 'total lands', 10]

Taking a copy of list

In [79]:
a_copy=a[:]
print(a_copy)

['total cars', 20, 'total houses', 30, 'total lands', 10]

Replace existing elements from list

In [80]:
a_copy[0]='total bikes'
a_copy[3]=35
print(a_copy)

['total bikes', 20, 'total houses', 35, 'total lands', 10]

Addiion in list

In [81]:
new_a_copy=a_copy+['total cars',15]
print(new_a_copy)

['total bikes', 20, 'total houses', 35, 'total lands', 10, 'total cars', 15]

In [82]:
new_a_copy2=new_a_copy+['total planes',5]
print(new_a_copy2)

['total bikes', 20, 'total houses', 35, 'total lands', 10, 'total cars', 15, 'total planes', 5]

Copying & Deleting elements from list

In [83]:
new_a_copy3=new_a_copy2[:]
print(new_a_copy3)
del(new_a_copy3[4:6])
print(new_a_copy3)

['total bikes', 20, 'total houses', 35, 'total lands', 10, 'total cars', 15, 'total planes', 5]
['total bikes', 20, 'total houses', 35, 'total cars', 15, 'total planes', 5]

Len()= for calculating the length of a list or value.

sorted(), takes three arguments: iterable, key, and reverse.
key=None means that if you don't specify the key argument, it will be None. reverse=False means that if you don't specify the reverse argument, it will be False, by default in a list.

count() is use to count the total number of a value in a list.

index() is opposite of subseting in a list. We can find a value's index number. 

append() is use to add an element in list. 

remove() is use to removes the first element of a list that matches the input. 

reverse() is use to reverse the order of the elements in the list.

upper() is use for upper all cases of the value.

lower() is use for lower all cases of the value.

In [84]:
print(len(new_a_copy3))

8

In [107]:
print(b)
print(len(b))
print(sorted(b, reverse=True))
print(b.count(10))
print(b.index(30))


b1=b[:]

b1.append(10)
print(b1)

b1.remove(20)
print(b1)

b1.reverse()
print(b1)

[20, 30, 10]
3
[30, 20, 10]
1
1
[20, 30, 10, 10]
[30, 10, 10]
[10, 10, 30]

TypeError: ignored

In [106]:
c='DataCamp'
print(c.upper())
print(c.lower())
print(c.count('a'))

DATACAMP
datacamp
3