List method

In [5]:
cars=20
houses=30
lands=10

a=['total cars',cars,'total houses',houses,'total lands',lands]
print(a)

['total cars', 20, 'total houses', 30, 'total lands', 10]

In [6]:
print(type(a))

<class 'list'>

Subseting

In [7]:
print(a[1])

20

In [8]:
print(a[0])

total cars

In [9]:
total_cars_and_lands=a[1]+a[5]
print(total_cars_and_lands)

30

Slicing

In [10]:
cars_to_houses=a[:4]
print(cars_to_houses)

['total cars', 20, 'total houses', 30]

In [11]:
houses_to_lands=a[-4:]
print(houses_to_lands)

['total houses', 30, 'total lands', 10]

Taking a copy of list

In [12]:
a_copy=a[:]
print(a_copy)

['total cars', 20, 'total houses', 30, 'total lands', 10]

Replace existing elements from list

In [13]:
a_copy[0]='total bikes'
a_copy[3]=35
print(a_copy)

['total bikes', 20, 'total houses', 35, 'total lands', 10]

Addiion in list

In [14]:
new_a_copy=a_copy+['total cars',15]
print(new_a_copy)

['total bikes', 20, 'total houses', 35, 'total lands', 10, 'total cars', 15]

In [23]:
new_a_copy2=new_a_copy+['total planes',5]
print(new_a_copy2)

['total bikes', 20, 'total houses', 35, 'total lands', 10, 'total cars', 15, 'total planes', 5]

Copying & Deleting elements from list

In [39]:
new_a_copy3=new_a_copy2[:]
print(new_a_copy3)
del(new_a_copy3[4:6])
print(new_a_copy3)

['total bikes', 20, 'total houses', 35, 'total lands', 10, 'total cars', 15, 'total planes', 5]
['total bikes', 20, 'total houses', 35, 'total cars', 15, 'total planes', 5]